.container1 {
  position: relative;
  background-color: #fff;
  width: 800px;
  margin: auto;
  margin-top: 100px;
  padding-top: 15px;
  max-height: 750px;
  min-height: 500px;
  padding-bottom: 40px;
  border-radius: 20px;
  overflow: hidden;
}

.slot1 div {
  /* position: absolute;
  width: 70px;
  height: 27px;
  overflow: hidden;

  background-color: grey;
  border-radius: 2px;
  border: 1px solid lightgrey;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 13px;
  line-height: 25px;
  cursor: default; */
}
.slot {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 80px;
  margin-right: 20px;
}
.slot_wrapper {
  margin: 10% 30%;
  display: flex;
  justify-content: space-around;
  font-size: 50px;
}
.button_wrapper {
  margin: 10% 30%;
  display: flex;
  justify-content: space-around;
}

section {
  position: absolute;
  border-radius: 15px !important;
  border: 3px solid black !important;
  width: 70px;
  height: 70px;
  overflow: hidden;
  background-color: grey;
  border-radius: 2px;
  border: 1px solid lightgrey;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  cursor: default;
  margin-right: 20px;
}

.container {
  position: absolute;
  top: 2px;
  width: 100%;
  transition: top ease-in-out 0.5s;
  text-align: center;
}

.roll {
  width: 75px;
  cursor: pointer;
  background-color: yellow;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  border: 3px solid black;
}

.rolling {
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}
