footer {
  width: 100%;
  font-family: Krona One;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
}
