.container {
  position: relative;
  background-color: #fff;
  width: 800px;
  margin: auto;
  margin-top: 100px;
  padding-top: 15px;
  max-height: 550px;
  padding-bottom: 40px;
  border-radius: 20px;
  overflow: hidden;
}
.cross__icon__container {
  background-color: #753eca;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  top: -2%;
  right: -2%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px;
  cursor: pointer;
}
